header{
	text-align: center;
	color: white;
	background: black;
	background-size: cover;
	font-family: "Courier New";
}
h1{
	font-size: 50px;
	font-family: "Courier New";
}
ul{
	padding: 10px;
	background: black;
	background: #7da6e8;
}
li{
	display: inline;
	padding: 0px 10px 0px 10px;
}
h2{
	text-align: center;
	font-size: 40px;
	font-family: "Courier New";
}

h3{
	font-size: 30px;
	font-family: "Courier New";
	padding: 5px;
}
footer{
    color: white;
    background: #7da6e8;
    background-size: cover;
    font-family: "Courier New";
    background: #7da6e8;
    text-align: center;
}
.contact{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
}
.media_buttons{
    background: #7da6e8;
    background-size: cover;
    padding-bottom: 5px;
}