header{
	text-align: center;
	color: white;
	background: black;
	background-size: cover;
	font-family: "Courier New";
}
h1{
	font-size: 50px;
}
ul{
	padding: 10px;
	background: black;
	background: #7da6e8;
}
li{
	display: inline;
	padding: 0px 10px 0px 10px;
}
button{
    background: green;
    color: white;
}
form{
    padding: 10px 0px 10px 0px;
}
footer{
    text-align: center;
    color: white;
    background: #7da6e8;
    background-size: cover;
    font-family: "Courier New";
    height: 50px;
    padding-top: 10px;
}
ul#contact{
    padding: 10px;
    background: black;
}
li#contact{
    display: inline;
    padding: 10px 10px 10px 0px;
}
