header{
	text-align: center;
	color: white;
	background: black;
	background-size: cover;
	font-family: "Courier New";
}
h1#CodeHub{
	font-size: 50px;
}
ul#pages{
	padding: 10px;
	background: #7da6e8;
}
li#pages{
	display: inline;
	padding: 0px 10px 0px 10px;
}
.links{
	text-align: center;
	font-family: "Courier New";
	padding: 10px;
	list-style-type: none;
}
div.starting{
    background-color: lightgrey;
    width: 300px;
    border: 5px solid black;
    padding: 25px;
    margin: 25px;
}
div.html{
    background-color: lightgrey;
    width: 300px;
    border: 5px solid black;
    padding: 25px;
    margin: 25px;
}
div.css{
    background-color: lightgrey;
    width: 300px;
    border: 5px solid black;
    padding: 25px;
    margin: 25px;
}
div.github{
    background-color: lightgrey;
    width: 300px;
    border: 5px solid black;
    padding: 25px;
    margin: 25px;
}
div.bootstrap{
    background-color: lightgrey;
    width: 300px;
    border: 5px solid black;
    padding: 25px;
    margin: 25px;
}
div.javascript{
    background-color: lightgrey;
    width: 300px;
    border: 5px solid black;
    padding: 25px;
    margin: 25px;
}
button{
    background: green;
    color: white;
}
form{
    padding: 10px 0px 10px 0px;
}
div.weblinks{
    background-color: lightgrey;
    width: 600px;
    border: 5px solid black;
    padding: 25px;
    margin: 25px;
}