header{
	text-align: center;
	color: white;
	background: black;
	background-size: cover;
	font-family: "Courier New";
}

body{
	background-image: url(backk.jpg);
	background-repeat: no-repeat;
	 background-position: 0 0;
	  background-attachment: fixed;
	 background-size: cover;

}

.backset{
	background-color: white;
	padding: 20px 20px 20px 20px;
}

h1#CodeHub{
	font-size: 50px;
}
ul#pages{
	padding: 10px;
	background: #7da6e8;
}
li#pages{
	display: inline;
	padding: 0px 10px 0px 10px;
}
.links{
	text-align: center;
	padding: 10px;
	list-style-type: none;
}
h1{
    font-family: "Courier New";
    text-align: center;
}
h2{
    font-family: "Courier New";
}
div.starting{
    background-color: lightgrey;
    width: 350px;
    height: 250px;
    border: 5px solid black;
    padding: 30px;
    margin: 10px;
}
.starting li{
    list-style-type: none;
}
div.html{
    background-image: url(hexagon.jpg);
    background-size: 250px 240px;
    background-position: center;
    width: 350px;
    height: 250px;
    border: 5px solid black;
    padding: 30px;
    margin: 10px;
}
.html li{
    list-style-type: none;
}
div.css{
    background-color: lightgrey;
    width: 350px;
    height: 250px;
    border: 5px solid black;
    padding: 20px;
    margin: 10px;
}
.css li{
    list-style-type: none;
}
div.github{
    background-image: url(hexagon.jpg);
    background-size: 250px 240px;
    background-position: center;
    width: 350px;
    height: 250px;
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
}
.github li{
    list-style-type: none;
}
div.bootstrap{
    background-color: lightgrey;
    width: 350px;
    height: 250px;
    border: 5px solid black;
    padding: 20px;
    margin: 10px;
}
.bootstrap li{
    list-style-type: none;
}
div.javascript{
    background-image: url(hexagon.jpg);
    background-size: 250px 240px;
    background-position: center;
    width: 350px;
    height: 250px;
    border: 5px solid black;
    padding: 30px;
    margin: 10px;
}
.javascript li{
    list-style-type: none;
}
footer{
    text-align: center;
    color: white;
    background: #7da6e8;
    background-size: cover;
    font-family: "Courier New";
    height: 50px;
    padding-top: 10px;
}
ul#contact{
    padding: 10px;
    background: black;
}
li#contact{
    display: inline;
    padding: 10px 10px 10px 0px;
}
