header{
	text-align: center;
	color: white;
	background: black;
	background-size: cover;
	font-family: "Courier New";
}
h1#CodeHub{
	font-size: 50px;
}
ul#pages{
	padding: 10px;
	background: black;
	background: #7da6e8;
}
li#pages{
	display: inline;
	padding: 0px 10px 0px 10px;
}
.links{
	text-align: center;
	font-family: "Courier New";
}