header{
	text-align: center;
	color: white;
	background: black;
	background-size: cover;
	font-family: "Courier New";
}


.backset{
	background-color: white;
	padding: 20px 20px 20px 20px;
}

body{
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	 background-position: 0 0;
	  background-attachment: fixed;
	 background-size: cover;
}


h1{
	font-size: 50px;
}

h2{
	font-size: 40px;
	font-family: "Courier New";
}


h3{
	font-size: 20px;
	font-family: "Courier New";
}

p{
	font-size: 15px;
font-family: "Courier New";
}

ul{
	padding: 10px;
	background: black;
	background: #7da6e8;
}

li{
	display: inline;
	padding: 0px 10px 0px 10px;
}

#map {
        height: 400px;
        width: 100%;
   }


 div.london2{
			     padding-left: 25px;
			 		padding-right: 25px;
			 		padding-bottom: 25px;
					padding-top: 25px;
			     margin: 25px;
			 }

.locations{
	font-size: 15px;
	font-family: "Courier New";
	padding-left: 100px;
	padding-top: 20px;
	display: none;
}

footer{
    color: white;
    background: #7da6e8;
    background-size: cover;
    font-family: "Courier New";
    background: #7da6e8;
    text-align: center;
}

.contact{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
}

.media_buttons{
    background: #7da6e8;
    background-size: cover;
    padding-bottom: 5px;
}

.weblinks a { text-decoration: none; color: white; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; color: white; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; color: white; }

a { text-decoration: none; color: blue; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; color: red; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
